.box{
    background-color: antiquewhite;
 
    width:max-content;
    line-height: 20px;
    margin-left: 3px;
    margin-right: 5px;
  margin-top: 30px;
  border-radius:10px 10px 10px 10px;
  position:sticky;
  
}
.mainInput{
    font:caption;
    font-size: 30px;
    border: none;
    background-color:antiquewhite;
    height: 50px;
}
@media only screen and (max-width: 600px) {
    .box{
        margin-left: auto;
        margin-right: auto;
        
    }
    .mainInput{
        font-size: 20px;
    }  }
  body{
      background-image: url(https://i.pinimg.com/originals/d5/c8/7c/d5c87c9160550d386791069339bbd762.jpg);
      position:sticky;
    color: white;
   background-origin: content-box;
   background-repeat: inherit;
  
  }
  .todoList{
      background: rgb(192, 150, 150);
      margin-top: 10px; 
      position: -webkit-sticky;
      position: sticky;
      top: 0;
     
     
      font-size: 20px;
     
  }
  button{
      font-size: 30px;
      background-color: transparent;
     width: 90px;
     cursor: pointer;
  }

.li-button{

    background-color: rgba(231, 215, 178, 0.075);
    margin-left: 8px;
    margin-top: 7px;
    padding-top: 4px;
    border-radius: 10px 50px 50px 10px;
    color: aliceblue;
    width: 120px;
    

}

li{
    list-style: none;
    margin-left: 20px;
font: 2em message-box;
    
}

  

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}
.got{
    background-color: rgba(221, 216, 209, 0.329);

    height: 50px;
    font-size: 2em;
    line-height: 1.5;
    
}
@media only screen and (min-width: 600px) {
   .desktop-flex{
    margin: auto;
    width: 50%;
   
    padding: 10px;

   
   }
   .box .mainInput{
      width: 250px;
      align-content: center;
   }
        
    }